.glyph {
    float: left;
}
.liga {
    width: 80%;
    width: calc(100% - 2.5em);
}
.talign-right {
    text-align: right;
}
.talign-center {
    text-align: center;
}
.bgc1 {
    background: #f1f1f1;
}
.fgc1 {
    color: #999;
}
.fgc0 {
    color: #000;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
.mvm {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.mtn {
    margin-top: 0;
}
.mal,
.mtl {
    margin-top: 1.5em;
}
.mal,
.mbl {
    margin-bottom: 1.5em;
}
.mal,
.mhl {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.mhmm {
    margin-left: 1em;
    margin-right: 1em;
}
.mls {
    margin-left: 0.25em;
}
.ptl {
    padding-top: 1.5em;
}
.pbs,
.pvs {
    padding-bottom: 0.25em;
}
.pts,
.pvs {
    padding-top: 0.25em;
}
.clearfix {
    zoom: 1;
}
.unit {
    float: left;
}
.unitRight {
    float: right;
}
.size1of2 {
    width: 50%;
}
.size1of1 {
    width: 100%;
}
.clearfix:after,
.clearfix:before {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}
.hidden-true {
    display: none;
}
.textbox0 {
    width: 3em;
    background: #f1f1f1;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    height: 1.5em;
}
#testDrive {
    padding-top: 24px;
    line-height: 1.5;
}
.fs0 {
    font-size: 16px;
}
.fs1 {
    font-size: 40px;
}
@font-face {
    font-family: Linearicons;
    src: url(../Linearicons.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
[class*=' icon-'],
[class^='icon-'] {
    color: #fff;
    font-family: Linearicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
    content: '\e93a';
}

.icon-calendar-full:before {
    content: '\e789';
}
.icon-chevron-down:before {
    content: '\e93a';
}
.icon-chevron-right:before {
    content: '\e93c';
}

.icon-chevron-left:before {
    content: '\e93b';
}

.icon-heart::before {
    content: '\e68c';
}
.icon-user::before {
    content: '\e71e';
}
